@import "reset.css";
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,700;1,400;1,700&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=PT+Serif:ital,wght@0,400;0,700;1,700&display=swap');
@import "font.css";
@import "user-component.css";
@import "colors.css";
@import "range-control.css";

*{
    box-sizing: border-box;
}
canvas {
    width: 800px;
    height: 800px;
    background-color: white;
    border-radius: 10px;
    border: 5px solid black;
}

body{
    font-family: 'Nunito', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 20px;
    background-color: gainsboro;
    
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
h1{
    font-size: 50px;
    align-items: center ;
    padding-bottom: 15px;
    font-weight: 600;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
}
